.header {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
     background-color: #f8f9fa;
     border-bottom: 2px solid #dee2e6;
 }
 .header img {
     height: 100px; /* Adjust logo size as needed */
     margin-right: 15px;
 }

.login-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}


